<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewsTitleGenerate</title>
</head>
<body>
<header>
    <h1 align="center"> NewsTitleGenerate DEMO </h1>
</header>
<div align="center" style="margin-top:10px">
    <div style="font-size:24px">新闻正文:</div>
    <form method="POST" name="form1">
        <textarea type="text" name="content" rows="10"
                  style="width:600px; height:100px;border: 1px solid #000; word-wrap:break-word;overflow: scroll">{{ content }}
        </textarea>
        <div>
            <input type="submit" value="一键生成" style="font-size:16px"/>
        </div>
        <div style="padding:30px;"></div>
        <div style="font-size:24px">新闻标题生成结果:</div>
        <textarea type="text" name="title" readonly="readonly"  rows="10"
             style="width:600px; height:100px;border: 1px solid #000; word-wrap:`eak-word;overflow: scroll">{{ titles }}
        </textarea>
    </form>
</div>

</body>
</html>